@charset "UTF-8";

/********************************************************/
/*                2. Generic backgrounds                */
/********************************************************/

.page-header { margin: 20px 20px 0 20px; } 

#fileupload { margin: 10px 20px 0 20px; }

.carbon {
	background: #3c4044 url(../img/textures/grid.png);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0))), #3c4044 url(../img/textures/grid.png);
	background: -webkit-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: -moz-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: -ms-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: -o-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
}
.linen {
	border-color: #929ba6;
	background: #a7b2be url(../img/textures/fabric.png);
	background: url(../img/textures/fabric.png), -webkit-gradient(linear, left top, left bottom, from(#5d656e), to(#a7b2be)) repeat-x, #a7b2be;
	background: url(../img/textures/fabric.png), -webkit-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/fabric.png), -moz-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/fabric.png), -ms-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/fabric.png), -o-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/fabric.png), linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
}
.scratch-metal {
	padding-left: 0;
	padding-right: 0;
	border-color: #999999;
	background: #dedede url(../img/textures/scratches.png);
	background: url(../img/textures/scratches.png), -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#aaaaaa), color-stop(0.25, #f2f2f2), color-stop(0.38, #ffffff), color-stop(0.63, #c5c5c5), color-stop(0.87, #f7f7f7));
	background: url(../img/textures/scratches.png), -webkit-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
	background: url(../img/textures/scratches.png), -moz-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
	background: url(../img/textures/scratches.png), -ms-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
	background: url(../img/textures/scratches.png), -o-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
	background: url(../img/textures/scratches.png), linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
}

.pattern-01 {
	margin-top: 57px !important;
	padding-top: 15px;
	border-color: #929ba6;
	background: #a7b2be url(../img/textures/pattern_01.png);
	background: url(../img/textures/pattern_01.png), -webkit-gradient(linear, left top, left bottom, from(#5d656e), to(#a7b2be)) repeat-x, #a7b2be;
	background: url(../img/textures/pattern_01.png), -webkit-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/pattern_01.png), -moz-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/pattern_01.png), -ms-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/pattern_01.png), -o-linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
	background: url(../img/textures/pattern_01.png), linear-gradient(top, #5d656e, #a7b2be) repeat-x, #a7b2be;
}

/** jGrowl ****************************************************************************/
div.jGrowl div.developr {
	color: #bdbdbd;
	background: #000 url(../img/old-browsers/colors/bg_translucid.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0))), rgba(0, 0, 0, 0.75);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), rgba(0, 0, 0, 0.75);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), rgba(0, 0, 0, 0.75);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), rgba(0, 0, 0, 0.75);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), rgba(0, 0, 0, 0.75);
	background: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), rgba(0, 0, 0, 0.75);
	border-color: black;
}
div.jGrowl div.iphone {
	font-family: 			"Helvetica Neue", "Helvetica";
	font-size: 				12px;
	background: 			url(../img/iphone.png) no-repeat;
	-moz-border-radius: 	0px;
	-webkit-border-radius:	0px;
	opacity: 				.90;
	filter: 				alpha(opacity = 90);
	width: 					235px;
	height: 				137px;
	overflow: 				hidden;
	border-color: 			#5ab500;
	color: 					#fff;
}

div.jGrowl div.iphone .jGrowl-close {
	padding-right: 			20px;
}

div.jGrowl div.iphone div.message {
	padding-top: 			0px;
	padding-bottom: 		7px;
	padding-left: 			15px;
	padding-right: 			15px;
}

div.jGrowl div.iphone div.header {
	padding: 				7px;
	padding-left: 			15px;
	padding-right: 			15px;
	font-size: 				17px;
}

div.jGrowl div.iphone div.close {
	display: 				none;
}

div.jGrowl div.black {
	background-color: 		#191919;
}
div.jGrowl div.blue {
	background-color: 		#334B5F;
}
/*******************************/
#existing-files.alert-info {
	border-color: #999;
	background-color: #C1E5E5;
	color: #777;
	margin: 10px 20px 30px 20px;
}

#branding {
	background: url(../img/favicons/twittertile.png) no-repeat center center;
	overflow: hidden;
	height: 55px;
	text-align: left;
	text-indent: -3000px;
	padding: 3px 0 5px 0;
	/** shadow **/
	-webkit-box-shadow: 0 7px 4px rgba(70, 130, 180, .4);
	-moz-box-shadow: 0 7px 4px rgba(70, 130, 180, .4);
	box-shadow: 0 7px 4px rgba(70, 130, 180, .4);
	-webkit-transition: box-shadow .25s linear;
	-moz-transition: box-shadow .25s linear;
	-ms-transition: box-shadow .25s linear;
	transition: box-shadow .25s linear;
}

#instructions {
	float:right;
}

#logout {
	/* float:right; */
	margin-top:15px;
}

/**
  overrides
*/
.table-upload {
  background-color: #fefefe;
}
.pager {
  font-size: 20px;
}

/**
	ng-table
*/

.ng-table {
  border: 1px solid #ddd;
  background-color: #fefefe;
}
.ng-table>tbody>tr>td p {
	padding-bottom: 0;
	margin-bottom: 0;
}
.ng-table>tbody>tr>td div {
	padding-bottom: 0;
	margin-bottom: 0;
}
.loading-container {
  position: relative;
}
.loading-container .loading:before,
.loading-container .loading:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50px;
  min-width: 50px;
}
.loading-container .loading:before {
  background-color: white;
  opacity: 0.5;
}
.table-container {
  /** max-width: 978px; **/  
  margin-bottom:15px;
}

/**
login
*/
p.form-title
{
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form.login
{
  width: 250px;
  margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
}

form.login input[type="submit"]
{
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
form.login label, form.login a
{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}
