<div data-ng-controller="NavCtrl" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><img src="/img/favicons/mfny2.jpeg" ></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="/home">Home</a>
      <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="/todos">TODOS</a>
      <a data-access-level="accessLevels.public" class="mdl-navigation__link" href="/hello" active-nav>Hello World</a>
      <a data-access-level="accessLevels.anon" class="mdl-navigation__link" href="/login" active-nav>Login</a>
      <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="" data-ng-click="logout()">Log out</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Title</span>
  <nav class="mdl-navigation">
    <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="/home">Home</a>
    <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="/todos">TODOS</a>
    <a data-access-level="accessLevels.public" class="mdl-navigation__link" href="/hello">Hello World</a>
    <a data-access-level="accessLevels.anon" class="mdl-navigation__link" href="/login">Login</a>
    <a data-access-level="accessLevels.user" class="mdl-navigation__link" href="" data-ng-click="logout()">Log out</a>
  </nav>
</div>

<!--
  <div data-ng-controller="NavCtrl" class="navbar navbar-fixed-top" style="top:60px;">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li data-access-level="accessLevels.user" active-nav><a href="/home">Home</a>
        </li>
        <li data-access-level="accessLevels.user" active-nav><a href="/todos">TODOS</a>
        </li>
        <li data-access-level="accessLevels.public" active-nav><a href="/hello">Hello World</a>
        </li>
        <li data-access-level="accessLevels.anon" active-nav><a href="/login">Login</a>
        </li>
        <div id="userInfo" data-access-level="accessLevels.user" class="pull-right">Welcome&nbsp;<strong>{{ user.username }}&nbsp;</strong><span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}" class="label">{{ user.role.title }}</span>
          <span data-access-level="accessLevels.user"><a class="btn btn-danger" href="" data-ng-click="logout()">Log out</a>
        </span>
        </div>
      </ul>
    </div>
  </div>
</div>
-->

</div>


